/*
WEBSITE BY ANA ISABEL TEIXEIRA
WELCOME TO MY PORTFOLIO!!!!!!!
                                      .P&Y       .
                                     .G@P@!      .
                                    .BB: ##.     .
                            :~~~~~~?#B.  !@J     .
               ^^~JJJPP55555G5JJJJJY?.    5B555PB7
          .!JYPPJYJ~^^......                  :G@7
      ^~JGPG7!!?5GYPJ?~.                   .!5B5:.
   :!GGYJ^   G@P7^?~^?#&^                :PB#Y:  .
 ^P@B?       ~PP5JPY?5#P:               :G@~     .
 7YYG5PB5      .~~~~~~^                !&B^      .
    .?&B~                            :G@Y        .
   .B&!.  .^~?PBP:           :.    :G#Y:         .
   .BGY555PPY@@G:    .7BP5YPB@7  ?BBY:           .
      ...  ~GB!    :Y&P7..J&G^ .G&J.             .
    :.    J&5.   ^5#P^  ?#P~  J#G:               .
   .&#G5JB#^   ^PB5^  7B#~  :BB~                 .
    5@P~J?. .~P#?   ~PB7  :5BY.                  .
   :@#7     P@@GGY5BG7  ^5BJ.                    .
   .5&G! .?#@@&^~JY!  :Y&J.                      .
     ^JGB##P&@#.    :P#Y~                        .
        ^~. ^JPG7:^P#P^                          .
               !G#BP^                            .
*/

/*MINIMAL CSS RESET, by Alligator.io
https://www.digitalocean.com/community/tutorials/css-minimal-css-reset*/

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/*CSS START*/

/*GENERAL*/

:root {
    --highlight-color: #fff9ab;
    --select-color: #ff0000;
    --hover-color: #ff0000;
  }
  
  ::selection {
    background: var(--highlight-color);
  }  

body{
    display: block;
    box-sizing: border-box;
    height: 100%;
}

@font-face {
    font-family: FreeSans;
    src: url(../fonts/FreeSans.ttf);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: FreeSans;
    src: url(../fonts/FreeSansOblique.ttf);
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: FreeSans;
    src: url(../fonts/FreeSansBold.ttf);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: FreeSans;
    src: url(../fonts/FreeSansBoldOblique.ttf);
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
}
/*HEADER*/

#outer {
    position: absolute;
    width:100vw;
    top: 1vh;
    overflow: hidden;
    pointer-events: none;
}

#outer div {
    display: inline-block;
}

#loop {
    padding-left: 100vw;
    white-space: nowrap;
    animation: loop-anim 60s linear infinite;
    font-family: "FreeSans", Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: normal;
    font-size: 20vw;
    color: var(--select-color);
    mix-blend-mode: multiply;
}

svg{
    height: 14vw;
    fill: var(--select-color);
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50% 
    }
}


header h1, header h2, header p{
    position: absolute;
    display: none;
}

/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 6vh;
}

h1, h2, #introduction{
    display: none;
}

#project_selector {
    width: 100%;
    height: 28vh;
    text-align:justify;  
    text-justify:inter-character;
}

#project_selector p{
    font-family: "FreeSans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    color: var(--font-color);
}

#selection li, #selection li h3{
    font-family: "FreeSans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-size: 6vw;
    line-height: 1.4;
    display: inline;
    cursor: pointer;
}

#selection li h3:hover {
    color: var(--hover-color);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

#selection li h3:active, #selection .current{
    background: var(--highlight-color);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

#selection li sub{
    display: none
}

#project_display {
    width: 100%;
    position: absolute;
    top: 38vh;
    height: 56vh;
    margin-top: 3vh;
    overflow:hidden;
}

#project_display img{
    display: none;
}

#project_display p:not(:first-of-type){
    display: none;
}

#project_display a, #project_display p:first-of-type{
    font-family: "FreeSans", Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: normal;
    font-size: 4vw;
    color: black;
    z-index: 10;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
    line-height: 1.3;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}

#project_display p:first-of-type{
    display: block;
}

#tab-4 p:nth-of-type(4){
    text-indent: 0;
    padding-left: 2.5em;
}

#project_display a{
    display: inline;
}


#project_display a:hover, #project_display a:active{
    text-decoration-style: solid;
    color: var(--hover-color);
}

.project_tab{
    display: none;
}

.project_tab.current{
    display: block;
}

/*IMAGE SLIDER*/

.items {
    position: relative;
    margin-top: 3vh;
    margin-bottom: 6vh;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    display: none;
}

.items.active {
    cursor: grab;
}

.item {
    display: inline-block;
    user-select: none;
    width: 86%;
    height: 38vh;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    z-index: 100;
}

.item:first-child{
    width: 86%;
    margin-left: 7%;
}

.item:not(:first-child) {
    margin-left: 1.5vh;
}

.item:last-child {
    margin-right: 10%;
}

/*FOOTER*/

footer{
    position: absolute;
    bottom: 2vh;
    padding-left: 6vh;
    padding-right: 6vh;
    width: 100%;
}

footer ul{
    display: flex;
    justify-content: space-between;
}

footer a{
    font-family: "FreeSans", Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: normal;
    font-size: 4.5vw;
    color: black;
    z-index: 10;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
}

footer a:hover, footer a:active{
    text-decoration-style: solid;
    color: var(--hover-color);
}

/*TABLETS*/

@media only screen and (min-width: 600px) {

    #project_selector {
        width: 100%;
        height: 30vh;
        text-align: none;  
        text-justify:none;
    }

    #introduction{
        text-align: left;
    }

    #project_display {
        width: 100%;
        position: absolute;
        top: 30vh;
        height: 55vh;

    }

    #selection li, #selection li h3{
        font-size: 5vw;
    }
   
}

/*DESKTOP*/

@media only screen and (min-width: 768px) {

    /*ALL*/

    /*HEADER*/

    svg{
        height: 10vh;
    }

    #outer{
    top: 40vh;
    }

    #loop {
    font-size: 8vw;
    }



     /*MAIN*/

     main{
        flex-direction: row-reverse;
        height: 100%;
        width: 100%;
        padding: 3em;
    }
    
    #introduction{
        display: block;
    }

    #project_selector{
        width: 30%;
        height: 100%;
    }

    #project_selector p{
        font-family: "FreeSans", Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.8em;
        line-height: 1.45;
        text-indent: 2.5em;
    }

    #introduction ul{
        padding-top: 1em;
    }

    #selection li{
        display: flex;
        align-items:baseline;
        width: 100%;
    }

    #selection li h3:hover{
        animation: shake 0.5s; 
        animation-iteration-count: infinite; 
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    #selection li, #selection li h3{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.9em;
        line-height: 1.6;
        cursor: pointer;
    }

    #selection li h3:active, #selection .current{
        color: var(--select-color);
    }

    #project_selector h3{
        margin-left: 2.5em;
    }

    #project_selector p:last-child{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #project_selector span{
        display: none;
    }
    
    #selection li sub{
        font-family: "FreeSans", Arial, Helvetica, sans-serif;
        font-stretch: normal;
        font-style: normal;
        font-size: 0.6em;
        cursor: default;
        display: inline-block;
        padding-left: 0.5em;
    }
    
    #project_display{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 70%;
        height: 100vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll; 
    }

    #project_display::-webkit-scrollbar {
        display: none;
      }

    #project_display p:not(:first-of-type){
        font-family: "FreeSans", Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.7em;
        line-height: 1.45;
        display: block;        
        margin: 2em auto 2em 5%;
        width: 80%;
    }  
    
    #project_display a{
        font-size: 1em;
        display: inline;
    }
    
    #project_display a, #project_display a:hover,  #project_display a:active{
        text-decoration-thickness: 1px;
    }

    #project_display a:hover{
        animation: shake 0.5s; 
    }


    #project_display p{
        text-indent: 2.5em;
    }  


    #project_display p:last-of-type{
        text-indent: 0;
        margin-bottom: 5em;
    }  
    
    #project_display p:first-of-type{
        display: none;
    }    

    #project_display img{
        display: block;
        margin: 0em auto 0 auto;
        max-height: 40em;
        width: auto;
        max-width: 90%;
    }

    #project_display img:first-of-type {
        margin: 3em auto 0 auto;
    }

    #project_display img:nth-of-type(2) {
        margin: 0 auto 0 auto;
    }

    #project_display img:last-of-type{
       margin: 0em auto 0 auto;
    }

    #tab-2 img:nth-of-type(4){
        width: 20%;
        margin: 3em auto 3em auto;
    }
    
    #tab-2 img:nth-of-type(2){
        width: 45%;
        margin: 3em auto 3em auto;
    }

    #project_selector li h3:hover, #project_selector li h3:active, #project_selector .current, #project_display p:first-of-type{
        text-decoration-thickness: 1.5px;
    }

    /*#tab-4 img, #tab-5 img, #tab-6 img, #tab-7 img,  #tab-5 img:first-of-type{
        max-height: 25em;
        width: auto;
        max-width: 85%;
    }*/

    .items{
        display: none;
    }

    /*FOOTER*/

    footer{
        padding-left: 0;
        padding-right: 3em;
        width: 30%;
        margin-left: 70%;
    }

    footer a{
        font-size:  0.8em;
    }

    footer li:hover{
        animation: shake 0.5s; 
        animation-iteration-count: infinite; 
    }
}